<!-- 
 *
 * Desenvolvido por AAXIS
 * 
 * Bootstrap v.3
 *
 -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/arquivos/jquery-ui.min.css" />


<link href="/arquivos/bootstrap.min.css?v=1" rel="stylesheet" type="text/css" />
<link href="/arquivos/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/style.css?v=100" rel="stylesheet" type="text/css" />
<link href="/arquivos/pets.css?v=100" rel="stylesheet" type="text/css" />
