<!-- 
 *
 * Desenvolvido por AAXIS Commerce
 * 
 * Bootstrap v.3
 *
-->
<div id="extra-footer-top" class="row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="#" target="_Blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_Blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_Blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
</div>

<footer class="footer">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="footer-logo">
                    <figure>
                        <img src="http://aaxis.vteximg.com.br/arquivos/logo-lupo.jpg" />
                    </figure>
                </div>
            </div>
        </div>

        <div class="row-menus row">
            <div class="col-inst-duvidas col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-institucional col-xs-6 col-sm-6">
                        <b>Institucional</b>
                        <ul>
                            <li><a href="#">Quem Somos</a></li>
                            <li><a href="#">Área do Cliente</a></li>
                            <li><a href="#">Como Pagar</a></li>
                            <li><a href="#">Compra Segura</a></li>
                        </ul>
                    </div><!-- .col-institucional -->
                    <div class="col-duvidas col-xs-6 col-sm-6">
                        <b>Veja Também</b>
                        <ul>
                            <li><a href="#">Marcas Licenciadas</a></li>
                            <li><a href="#">Tabela de medidas</a></li>
                            <li><a href="#">Trocas e Devoluções</a></li>
                        </ul>
                    </div><!-- .col-duvidas -->
                </div>
            </div><!-- .col-inst-duvidas -->

            <div class="col-atendimento-social col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="row">
                    <div class="col-atendimento col-xs-6 col-sm-6">
                        <b>Pagamento</b>
                        <ul>
                            <li><a href="#">PagSeguro</a></li>
                            <li><a href="#">PayPal</a></li>
                            <li><a href="#">Cielo</a></li>
                            <li><a href="#">Boleto e Itaú</a></li>
                        </ul>
                    </div><!-- .col-atendimento -->
                    <div class="col-newsletter col-xs-6 col-sm-6">
                        <b>Receba novidades</b>
                        <form action="#">
                            <ul>
                                <li><input type="text" placeholder="Nome" name="nome"/></li>
                                <li><input type="email" placeholder="E-mail" name="email"/></li>
                                <li><button type="button">Enviar</button></li>
                            </ul>
                        </form>
                    </div><!-- .col-newsletter -->
                </div>
            </div><!-- .col-atendimento-social  -->

            <div class="col-multiplus col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <b>Multiplus</b>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <img src="http://aaxis.vteximg.com.br/arquivos/logo-multiplus-rodape.jpg" />
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <p>
                            ACUMULE PONTOS MULTIPLUS
                            E TROQUE POR PRODUTOS LUPO
                            <span>PARCERIA VÁLIDA APENAS PARA O
                            E-COMMERCE LUPO STORE!</span>
                        </p>
                    </div>
                </div>
            </div><!-- .col-newsletter -->

        </div><!-- .row-menus -->


    </div><!-- .container -->
    <div class="container info-24h">
        <h2 class="hidden-xs hidden-sm">24h por dia <span>| 7 dias por semana </span><i class="fa fa-clock-o"></i></h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="box phone">
                    <i class="fa fa-phone"></i>
                    <p>
                        <strong>(11) 2338-9282</strong>
                        Disponível de segunda a sexta-feira<br/>
                        das 9:00 às 17:30 (exceto feriados)
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="box contact">
                    <i class="fa fa-paper-plane"></i>
                    <p>
                        <strong>Formulário de Contato</strong>
                        Qualquer assunto pode ser tratado<br/>
                        diretamente através do site.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="box chat">
                    <i class="fa fa-comment"></i>
                    <p>
                        <strong>Chat On-line</strong>
                        Nossos atendentes estão de protidão<br/>
                        para tirar todas suas dúvidas sobre<br/>
                        nossos produtos.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="legal-info">
            JUST1CLICK COMÉRCIO DE VESTUÁRIO LTDA EPP | CNPJ: 13.026.725/0001-09 <br/>
            Endereço: Av Brig Faria Lima, 1616 cj 1209 - São Paulo - SP - 01451-001 | atendimento@lupostore.com.br | Telefone: <vtex.cmc:telefone />
        </p>
    </div>
</footer><!-- .footer -->

<div id="extra-footer-middle"></div>

<div class="copy-right text-center">
    <div class="container">
        <ul class="devs list-inline">
            <li>
                <a href="http://www.vtex.com/" target="_Blank">
                    <img src="/arquivos/logo-vtex.png" alt="VTEX" class="img-responsive" />
                </a>
            </li>
            
        </ul><!-- .devs -->
        <p>
            <vtex.cmc:copyright />
        </p>
    </div>
</div><!-- .copy-right -->
