<!-- 
 *
 * Desenvolvido por AAXIS Commerce
 * 
 * Bootstrap v.3
 *
-->

<div id="extra-header-top"></div>

<header class="header-container">

    <div class="welcome-bar hidden-xs">
        <div class="container">
            <div class="row">
                <div class="welcome col-xs-5">
                    <vtex.cmc:welcomeMessage/>  
                </div><!-- .welcome -->
                <div class="help-menu col-xs-7">
                    <ul class="text-right list-inline">
                        <li class="link-sobre"><a href="/institucional/quem-somos">Sobre Nós</a></li>
                        <li class="link-help"><a href="/institucional/ajuda">Ajuda?</a></li>
                        <li class="televendas-topo"><span>Televendas: <strong><vtex.cmc:telefone /></strong></span></li>
                    </ul>
                </div><!-- .help-menu -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .welcome-bar -->

    <div class="header">
        <div class="container headerContainer">
            <div class="row topBlueBanner">
                <div class="col-md-6">
                Save 20% off + free shipping on your first order! learn more
                </div>
                <div class="col-md-2">
7,278,776 lives saved
                </div>
                <div class="col-md-2">
                find stores &amp; events 
                </div>
                <div class="col-md-2">
                sign in
                </div>
            </div>
            <div class="row">

                <div class="logo">
                    <a href="/" title="STORE Totem" class="link-logo">
                        <img src="http://aaxis.vteximg.com.br/arquivos/header-logo.png"/>
                    </a>
                    <!-- .logo -->
                </div>
                <div class="button-menu-xs col-xs-4 col-sm-4 visible-xs visible-sm">
                    <a class="btn btn-default no-bg" href="/checkout/#/cart"><i class="fa fa-shopping-cart"></i></a>
                    <button class="btn btn-default btn-open-menu-xs btn-menu-xs no-bg" data-id="#menu-mobile"><i class="fa fa-bars"></i></button>
                    <div id="menu-mobile" style="display: none;">
                        <div class="header-menu-mobile visible-xs">
                            <span class="close-menu pull-right btn-menu-xs" data-id="#menu-mobile"><i class="fa fa-times"></i></span>
                            <span class="icone-menu"><i class="fa fa-bars"></i></span>
                        </div>
                        <div class="recebe-menu">
                            <!-- RECEBE MENU MOBILE -->
                        </div>
                        <div class="menu-mobile-account">
                            <hr />
                            <ul>
                                <li class="link-login"><a href="/account" title="Fazer Login">Entrar</a></li>
                                <li class="link-orders"><a href="/account/orders" title="Meus Pedidos">Meus Pedidos</a></li>
                            </ul>

                        </div>
                    </div>
                </div><!-- .button-menu-xs -->
            </div><!-- .row -->
            <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="P-start-z col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <nav class="visible-md visible-lg" id="top-menu">
                                <div class="container">
                                    <vtex.cmc:departmentLinks/>
                                </div><!-- .container -->
                            </nav><!-- #top-menu -->
                        </div>
                    </div>
        </div><!-- .container -->
    </div><!-- .header -->

</header><!-- .header-container -->
