<!-- 
 *
 * Desenvolvido por AAXIS Commerce
 * 
 * Bootstrap v.3
 *
-->

<div id="extra-header-top"></div>

<header class="header-container">

    <div class="welcome-bar hidden-xs">
        <div class="container">
            <div class="row">
                <div class="welcome col-xs-5">
                    <vtex.cmc:welcomeMessage/>  
                </div><!-- .welcome -->
                <div class="help-menu col-xs-7">
                    <ul class="text-right list-inline">
                        <li class="link-sobre"><a href="/institucional/quem-somos">Sobre Nós</a></li>
                        <li class="link-help"><a href="/institucional/ajuda">Ajuda?</a></li>
                        <li class="televendas-topo"><span>Televendas: <strong><vtex.cmc:telefone /></strong></span></li>
                    </ul>
                </div><!-- .help-menu -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .welcome-bar -->

    <div class="header">
        <div class="container">
            <div class="row">

                <div class="logo">
                    <a href="/" title="STORE Totem" class="link-logo">
                        <img src="http://aaxis.vteximg.com.br/arquivos/header-logo-lupo.png"/>
                    </a>
                    <!-- .logo -->
                </div>
                <div class="button-menu-xs col-xs-4 col-sm-4 visible-xs visible-sm">
                    <a class="btn btn-default no-bg" href="/checkout/#/cart"><i class="fa fa-shopping-cart"></i></a>
                    <button class="btn btn-default btn-open-menu-xs btn-menu-xs no-bg" data-id="#menu-mobile"><i class="fa fa-bars"></i></button>
                    <div id="menu-mobile" style="display: none;">
                        <div class="header-menu-mobile visible-xs">
                            <span class="close-menu pull-right btn-menu-xs" data-id="#menu-mobile"><i class="fa fa-times"></i></span>
                            <span class="icone-menu"><i class="fa fa-bars"></i></span>
                        </div>
                        <div class="recebe-menu">
                            <!-- RECEBE MENU MOBILE -->
                        </div>
                        <div class="menu-mobile-account">
                            <hr />
                            <ul>
                                <li class="link-login"><a href="/account" title="Fazer Login">Entrar</a></li>
                                <li class="link-orders"><a href="/account/orders" title="Meus Pedidos">Meus Pedidos</a></li>
                            </ul>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <vtex.cmc:fullTextSearchBox/>
</div>
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
    <div class="row line-bottom">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <vtex.cmc:fullTextSearchBox/>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hidden-xs hidden-sm">
            <div class="hidden-xs hidden-sm col-md-33 col-lg-3">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden-xs hidden-sm">
                <a href="#" title="Meus Pedidos" class="btn btn-default nowrap no-bg">
                    <span class="visible-lg visible-md inline">CONTATO</span> <i class="fa fa-comment M-start-5" aria-hidden="true"></i>
                </a>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden-xs hidden-sm">
                <a href="/account" title="Fazer Login" class="btn btn-default btn-login nowrap no-bg">
                    <span class="visible-lg visible-md inline">ENTRAR</span> <i class="fa fa-user M-start-5" aria-hidden="true"></i>
                </a>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="mini-cart col-mini-cart col-xs-1 col-sm-1 col-md-3 col-lg-2 hidden-xs">
                    <a title="Carrinho de Compras" href="/checkout/#/cart" class="btn btn-default btn-mini-cart nowrap no-bg">
                        <span class="hidden-sm mini-cart-label inline hidden-xs hidden-sm">CARRINHO</span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                    <div id="mini-cart-admake-aux" class="hidden">
                        <vtex.cmc:miniCart />
                        <vtex.cmc:AmountItemsInCart />
                    </div><!-- #mini-cart-admake-aux -->
                    <div id="mini-cart-admake" style="display: none;">
                        <div class="mini-cart-header"></div>
                        <div class="mini-cart-itens">
                            <!-- recebe itens -->
                        </div>
                        <div class="mini-cart-footer">
                            <div class="mini-cart-totais">
                                <strong id="mini-cart-admake-total" class="pull-right"><!-- recebe valor total --></strong>
                                <span>Total</span>
                            </div>
                            <div class="mini-cart-botao">
                                <a href="/checkout/#/cart" class="btn btn-block btn-verde btn-finalizar-compra">Fechar Pedido</a>
                            </div>
                        </div>
                    </div>
                </div><!-- .mini-cart -->
            </div>
        </div>
    </div>
</div>

                        </div>
                    </div>
                </div><!-- .button-menu-xs -->
            </div><!-- .row -->
            <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="P-start-z col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <nav class="visible-md visible-lg" id="top-menu">
                                <div class="container">
                                    <vtex.cmc:departmentLinks/>
                                </div><!-- .container -->
                            </nav><!-- #top-menu -->
                        </div>
                    </div>
        </div><!-- .container -->
    </div><!-- .header -->

</header><!-- .header-container -->
